<%- include('../../layout/header') %>
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">ข่าวสาร</h1>
  <div class="card">
    <div class="card-header">
      รายการข่าว
      <span class="float-right">
        <a class="btn btn-sm btn-primary" href="/admin/news/add"
          ><i class="fa fa-plus"></i> เพิ่มข่าวใหม่</a
        >
      </span>
    </div>
    <div class="card-body">
      
    </div>
  </div>
</div>
<!-- /.container-fluid -->

<%- include('../../layout/footer') %>
<%- include('../../layout/end') %>
